.main_menu_container
    ul.main_menu_ul
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_home
                span.main_menu_text='首页'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_pop
                span.main_menu_text='时下流行'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_history
                span.main_menu_text='历史记录'
        hr
        .main_text_highlight='YOUTUBE 精选'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/music.jpg' alt='音乐')
                span.main_menu_text='音乐'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/sport.jpg' alt='体育')
                span.main_menu_text='体育'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/game.jpg' alt='游戏')
                span.main_menu_text='游戏'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/news.png' alt='新闻')
                span.main_menu_text='新闻'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/live.png' alt='直播')
                span.main_menu_text='直播'
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo
                    img.main_img(src='/images/360.png' alt='360全景视频')
                span.main_menu_text='360全景视频'
        hr
        li.main_menu_li
            a.main_menu_a(href='#')
                span.main_menu_logo.main_menu_add
                span.main_menu_text='浏览频道'
        hr
        .main_self='立即登录，查看您的频道和推荐内容！'
        a.main_a(href='#')
            button.main_login_button
                span='登录'