.bottom_container
    .bottom_setting
        .nav_logo_bottom_container
            span.nav_logo
        ul.bottom_setting_ul
            li.bottom_setting_li
                select.bottom_select
                    option.bottom_select_options='语言 : 中文'
                    option.bottom_select_options='语言 : 英文'
            li.bottom_setting_li
                select.bottom_select
                    option.bottom_select_options='内容位置 : 美国'
                    option.bottom_select_options='内容位置 : 中国'
            li.bottom_setting_li
                select.bottom_select
                    option.bottom_select_options='受限模式 : 关闭'
                    option.bottom_select_options='受限模式 : 打开'
            li.bottom_setting_li
                button.bottom_setting_button
                    .main_menu_history_bottom
                    span.bottom_setting_button_text='历史记录'
            li.bottom_setting_li
                button.bottom_setting_button
                    img.bottom_setting_button_img.img_help(src='../images/help.png')
                    span.bottom_setting_button_text='帮助'
    hr
    .bottom_menu
        ul.bottom_menu_ul
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='关于'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='新闻'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='版权'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='创作者'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='广告'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='开发者'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='+YouTube'
        ul.bottom_menu_ul
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='条款'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='隐私权'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='政策与安全'
            li.bottom_menu_li
                a.bottom_menu_a
                    span.bottom_menu_text='测试新功能'