.main_music_page
    .main_music_banner_container
        .main_music_banner
            img.main_music_img(src='/images/music_big.jpg' alt='music_big')
        .main_music_nav_title
            .title_container
                span.title='音乐'
                span.title_logo
            .music_subscribe
                button.music_subscribe_container
                    span.music_subscribe_logo
                    span.music_subscribe_text='订阅'
                span.music_number='123,456,789'
        .main_music_nav
            ul.music_nav_ul
                li.music_nav_li
                    a.music_nav_li_container(href='#')
                        span.music_nav_text='首页'
                        span.music_nav_block
                li.music_nav_li
                    a.music_nav_li_container(href='#')
                        span.music_nav_text='视频'
                        // span.music_nav_block
                li.music_nav_li
                    a.music_nav_li_container(href='#')
                        span.music_nav_text='播放列表'
                        // span.music_nav_block
                li.music_nav_li
                    a.music_nav_li_container(href='#')
                        span.music_nav_text='频道'
                        // span.music_nav_block
                li.music_nav_li
                    a.music_nav_li_container(href='#')
                        span.music_nav_text='简介'
                        // span.music_nav_block